body{
  background-color:#011F3F;
  text-align: center;
}
h1{
  color:#FEF2BF;;

  font-size: 3rem;
  margin: 5%;
  font-family:'Press Start 2P',cursive;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}

.pressed{
  opacity:0.5;
  background-color: grey;
}
.game_over{
  background-color: red;
}
